@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

.App {
  text-align: center;
  font-family: 'Russo One', sans-serif;
}


/* Dashboard */
.dashboard {
  background-image: url('./img/dashboard.jpg');
  height: 100vh;
  background-size: cover;  
  color: white;
  overflow: hidden;
}

.journal-entry-container {
  display: flex;
  justify-content: center;
 }

.sign-out-btn {
  width: 100px;
  padding: 1% 0%;
  margin: 2%;
  font-size: 12px;
  background-color: #06A8FF;
  border: none;
  border-radius: 50px;
  color:white;
}


/* Journal Form */
.journal-form-btn {
  width: 150px;
  padding: 1% 0%;
  margin: 2%;
  font-size: 12px;
  background-color: #06A8FF;
  border: none;
  border-radius: 50px;
  color:white;
}

.journal-form-container {
  display: flex;
  align-items: center;
}

.journal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal-form-input {
  height: 30px;
  width: 200px;
}

.input-container {
  margin: 1%;
  width: 50%;
}

.input-container label {
 margin-right: 1%;
}


/* Journal Entry */
.journal-entry {
  display: flex;
  background:rgb(255,255,255,.5);
  flex-direction: column;
  align-items: center;
  margin: 2%;
  width: 20%; 
  border-radius: 20px;
  padding: 2%;
}

.card-button {
  width: 80px;
  padding: 4% 0%;
  margin: 2%;
  font-size: 12px;
  background-color: #06A8FF;
  border: none;
  border-radius: 50px;
  color:white;
  text-decoration: none;
}

/* Exercise Form */
.exercise-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0% 5%;
}

.exercise-form input {
  margin : 1%;
  width: 15%;
}

/* Exercise Card */
.exercise-card-container {
  border: 1px solid black;
  width: 25%;
}

.card-item {
display: flex;
}




